@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa&family=Lobster&family=Montserrat:ital,wght@0,100;1,100&family=Quicksand:wght@300;400&display=swap');

body {
  background-color: #ffffff;
  background-image: radial-gradient(#414141 0.55px, transparent 0.55px), radial-gradient(#414141 0.55px, #ffffff 0.55px);
  background-size: 22px 22px;
  background-position: 0 0, 11px 11px;
}

a {
  color: #00B7FF;
}

.footer {
  background-color: rgb(255, 255, 255);
  padding: 0px 17px 17px 17px;
  margin-top: 8px;
}

.Linea {
  border-top: 1px solid rgb(156, 156, 156);
  margin: 20px 10% 20px 10%;
}


.internetfibra {
  font-family: 'Quicksand', sans-serif;
  margin-left: 5%;
}
.box {
  border: solid 1px rgb(120, 119, 119);
  border-radius: 10px;
  margin: 120px 28% 120px 28%;
  background-color: #ffffffbe;  
}
.Tlogin{
  font-family: 'Quicksand', sans-serif;
}
.N {
  font-family: 'Montserrat';
}